:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid { 
    display: flex;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

#control-panel{
    display: flex;
    height: 25vh;
    justify-content: center;
    align-items: center;
}

#first{
    display: flex;
    width: 33.33%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#second{
    display: flex;
    width: 33.33%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#third{
    display: flex;
    width: 33.33%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#generate-container {
    display: flex;
    height: 8vh;
    justify-content: center;
    align-items: center;
}

#top { 
    display: flex;
    height: 33.33%;
    justify-content: center;
    align-items: center;
    font-size: 1.0em;
}

#mid { 
    display: flex;
    height: 33.33%;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    font-weight: bold;
}

#bottom {
    display: flex;
    height: 33.33%;
    justify-content: center;
    align-items: center;
}

#time {
    display: flex;
    align-items: center;
    justify-content: center;
}

#score-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#score-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#scores{
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

#team_1{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#team_2{
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.table{
    font-size: 0.7em;
    width: 80%;
}

#result {
     display: flex;
     height: 4vh;
     justify-content: space-around;
     align-items: center;
     font-size: 1.5em;
     font-weight: "bold";
}

#start {
    color: white;
}